In [1]:
from clean import *

In [2]:
df = generate_mta_data(num_weeks=2)
df

,level_0,level_1,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,dt,station_scp,step_entries,step_exits
0,1 AV 00-00-00,32826,H007,R248,00-00-00,1 AV,L,BMT,12/19/2020,03:00:00,REGULAR,15508630,17551182,2020-12-19 03:00:00,1 AV 00-00-00,NaN,NaN
1,1 AV 00-00-00,32827,H007,R248,00-00-00,1 AV,L,BMT,12/19/2020,07:00:00,REGULAR,15508637,17551249,2020-12-19 07:00:00,1 AV 00-00-00,7.0,67.0
2,1 AV 00-00-00,32828,H007,R248,00-00-00,1 AV,L,BMT,12/19/2020,11:00:00,REGULAR,15508666,17551477,2020-12-19 11:00:00,1 AV 00-00-00,29.0,228.0
3,1 AV 00-00-00,32829,H007,R248,00-00-00,1 AV,L,BMT,12/19/2020,15:00:00,REGULAR,15508747,17551769,2020-12-19 15:00:00,1 AV 00-00-00,81.0,292.0
4,1 AV 00-00-00,32830,H007,R248,00-00-00,1 AV,L,BMT,12/19/2020,19:00:00,REGULAR,15508854,17552012,2020-12-19 19:00:00,1 AV 00-00-00,107.0,243.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212294,ZEREGA AV 00-05-01,186913,R419,R326,00-05-01,ZEREGA AV,6,IRT,12/25/2020,04:00:00,REGULAR,39,167,2020-12-25 04:00:00,ZEREGA AV 00-05-01,0.0,0.0
212295,ZEREGA AV 00-05-01,186914,R419,R326,00-05-01,ZEREGA AV,6,IRT,12/25/2020,08:00:00,REGULAR,39,167,2020-12-25 08:00:00,ZEREGA AV 00-05-01,0.0,0.0
212296,ZEREGA AV 00-05-01,186915,R419,R326,00-05-01,ZEREGA AV,6,IRT,12/25/2020,12:00:00,REGULAR,39,167,2020-12-25 12:00:00,ZEREGA AV 00-05-01,0.0,0.0
212297,ZEREGA AV 00-05-01,186916,R419,R326,00-05-01,ZEREGA AV,6,IRT,12/25/2020,16:00:00,REGULAR,39,167,2020-12-25 16:00:00,ZEREGA AV 00-05-01,0.0,0.0
212298,ZEREGA AV 00-05-01,186917,R419,R326,00-05-01,ZEREGA AV,6,IRT,12/25/2020,20:00:00,REGULAR,39,167,2020-12-25 20:00:00,ZEREGA AV 00-05-01,0.0,0.0