In [1]:
import pandas as pd
import os
pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", 500)
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
def mta_to_df():
    filenames = os.listdir('mta')
    data = pd.DataFrame()

    for file in filenames:
        df = pd.read_csv('mta/' + file)
        data = pd.concat([data, df])
    return data

def clean_mta_df(df):
    new_df = df.copy()
    new_df.dropna(axis=1, how='all', inplace=True)
    col_names = ['area', 'unit', 'scp', 'station', 'linename', \
                 'division', 'date', 'time', 'desc', 'entries', 'exits']
    new_df.columns = col_names
    new_dt = new_df['date'] + ' ' + new_df['time']
    new_df['dt'] = pd.to_datetime(new_dt).dt.round('H')
    new_df['time'] = new_df['dt'].dt.hour
    
    return new_df

In [3]:
df = mta_to_df()
df = clean_mta_df(df)

In [4]:
# df.sample(10, random_state=1)
df.head(20)

# print('# of unique area:',len(df['area'].unique()))
# print('# of unique unit:', len(df['unit'].unique()))
# print('# of unique scp:', len(df['scp'].unique()))
# print('# of unique station:', len(df['station'].unique()))
# print('# of unique linename:', len(df['linename'].unique()))
# print('# of unique division:', len(df['division'].unique()))
# print('# of unique desc:', len(df['desc'].unique()))
# print('# of unique time:',len(df['time'].unique()))
# df['time']

,area,unit,scp,station,linename,division,date,time,desc,entries,exits,dt
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,0,REGULAR,7477474,2544276,2020-10-24 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,4,REGULAR,7477477,2544276,2020-10-24 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,8,REGULAR,7477488,2544294,2020-10-24 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,12,REGULAR,7477522,2544334,2020-10-24 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,16,REGULAR,7477644,2544363,2020-10-24 16:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/24/2020,20,REGULAR,7477785,2544386,2020-10-24 20:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/25/2020,0,REGULAR,7477869,2544404,2020-10-25 00:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/25/2020,4,REGULAR,7477873,2544405,2020-10-25 04:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/25/2020,8,REGULAR,7477882,2544416,2020-10-25 08:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/25/2020,12,REGULAR,7477911,2544453,2020-10-25 12:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/25/2020,16,REGULAR,7477985,2544474,2020-10-25 16:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/25/2020,20,REGULAR,7478128,2544487,2020-10-25 20:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2020,0,REGULAR,7478164,2544495,2020-10-26 00:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2020,4,REGULAR,7478166,2544495,2020-10-26 04:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2020,8,REGULAR,7478173,2544552,2020-10-26 08:00:00
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2020,12,REGULAR,7478231,2544664,2020-10-26 12:00:00
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2020,16,REGULAR,7478383,2544699,2020-10-26 16:00:00
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2020,20,REGULAR,7478633,2544729,2020-10-26 20:00:00
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/27/2020,0,REGULAR,7478727,2544737,2020-10-27 00:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/27/2020,4,REGULAR,7478728,2544738,2020-10-27 04:00:00

In [5]:
# t = df[['station', 'time']].groupby('station').diff()
df[['station', 'unit', 'scp', 'date','time', 'entries']].head(100)
df[(df.station == '59 ST') & (df.scp == '00-03-02') & (df.date == '10/24/2020')].tail(10)

,area,unit,scp,station,linename,division,date,time,desc,entries,exits,dt
167068,R244,R050,00-03-02,59 ST,456NQRW,IRT,10/24/2020,8,REGULAR,3365648,6534217,2020-10-24 08:00:00
167069,R244,R050,00-03-02,59 ST,456NQRW,IRT,10/24/2020,12,REGULAR,3365692,6534416,2020-10-24 12:00:00
167070,R244,R050,00-03-02,59 ST,456NQRW,IRT,10/24/2020,16,REGULAR,3365760,6534567,2020-10-24 16:00:00
167071,R244,R050,00-03-02,59 ST,456NQRW,IRT,10/24/2020,20,REGULAR,3365858,6534704,2020-10-24 20:00:00
167654,R245,R051,00-03-02,59 ST,456NQRW,IRT,10/24/2020,0,REGULAR,1040891996,734939898,2020-10-24 00:00:00
167655,R245,R051,00-03-02,59 ST,456NQRW,IRT,10/24/2020,4,REGULAR,1040891999,734939893,2020-10-24 04:00:00
167656,R245,R051,00-03-02,59 ST,456NQRW,IRT,10/24/2020,8,REGULAR,1040892005,734939857,2020-10-24 08:00:00
167657,R245,R051,00-03-02,59 ST,456NQRW,IRT,10/24/2020,12,REGULAR,1040892026,734939741,2020-10-24 12:00:00
167658,R245,R051,00-03-02,59 ST,456NQRW,IRT,10/24/2020,16,REGULAR,1040892056,734939595,2020-10-24 16:00:00
167659,R245,R051,00-03-02,59 ST,456NQRW,IRT,10/24/2020,20,REGULAR,1040892097,734939509,2020-10-24 20:00:00

In [6]:
station = df['station'].unique()
date = df['date'].unique()
time = df['time'].unique()
scp = df['scp'].unique()
# date, time, len(scp)

In [7]:
# df2 = df[['station', 'scp', 'date', 'time', 'entries', 'exits']]
# df2 = df[['station', 'scp', 'date', 'time', 'entries']]
df2 = df[['station', 'unit', 'scp', 'date', 'entries']]

g = df2.groupby(['station', 'unit', 'scp', 'date'], sort=False)
# we may need to sum up the # of entries for different units at a given station. see[out] 5
total_daily_entries = g.max('entries') - g.min('entries')
total_daily_entries

                                        entries
station       unit scp      date
59 ST         R051 02-00-00 10/24/2020      311
                            10/25/2020      259
                            10/26/2020      469
                            10/27/2020      504
                            10/28/2020      566
...                                         ...
RIT-ROOSEVELT R469 00-05-01 12/28/2020        0
                            12/29/2020        0
                            12/30/2020        0
                            12/31/2020        0
                            01/01/2021        0

[348435 rows x 1 columns]

In [8]:
t = total_daily_entries['entries'].unstack()

# t.index[0][1]
# t
# t.iloc[0, 1]

### List of things to do:
* convert entries/exits from cumulative to number per hour
* make histograms to get an idea of which stations are the most promising at which times