In [1]:
from clean2 import *
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# data wrangling
df = data_wrangling()
mta_station_info = pd.read_csv("http://web.mta.info/developers/data/nyct/subway/Stations.csv")
mta_station_info.rename(columns={'Stop Name': 'STATION', 'GTFS Latitude': 'Lat', 'GTFS Longitude': 'Lon'}, inplace=True)

In [3]:
mta_station_info.columns

Index(['Station ID', 'Complex ID', 'GTFS Stop ID', 'Division', 'Line',
       'STATION', 'Borough', 'Daytime Routes', 'Structure', 'Lat', 'Lon',
       'North Direction Label', 'South Direction Label', 'ADA', 'ADA Notes'],
      dtype='object')

In [4]:
mta_station_info.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,STATION,Borough,Daytime Routes,Structure,Lat,Lon,North Direction Label,South Direction Label,ADA,ADA Notes
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan,0,NaN
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan,0,NaN

In [5]:
us_zips_agi = pd.read_csv("18zpallagi.csv")
us_zips_agi.rename(columns={'A00100':'adj_gross_inc'}, inplace=True)
us_zips_agi = us_zips_agi[['zipcode','adj_gross_inc']].groupby('zipcode').agg(sum)

us_zips_agi

         adj_gross_inc
zipcode
0         1.168118e+10
1001      5.467750e+05
1002      8.848890e+05
1005      1.492950e+05
1007      6.203770e+05
...                ...
99827     8.882500e+04
99833     1.144710e+05
99835     3.163940e+05
99901     4.377110e+05
99999     2.136667e+08

[27558 rows x 1 columns]

In [6]:
nyc_zips = pd.read_csv("ny_zips.csv")
nyc_zips.dropna(axis=1, how='all', inplace=True)

nyc_agi_by_zip = nyc_zips.join(us_zips_agi, how='inner', on='zipcode')

nyc_agi_by_zip

     zipcode       area  adj_gross_inc
0      10001  Manhattan      2906435.0
1      10002  Manhattan      2718913.0
2      10003  Manhattan      8191737.0
3      10004  Manhattan       944925.0
4      10005  Manhattan      2603668.0
..       ...        ...            ...
235    11691     Queens      1033194.0
236    11692     Queens       393888.0
237    11693     Queens       319792.0
238    11694     Queens       850523.0
239    11697     Queens       253659.0

[176 rows x 3 columns]

In [7]:
coords = mta_station_info[['Lat', 'Lon']]

In [8]:
mta_station_info.columns

Index(['Station ID', 'Complex ID', 'GTFS Stop ID', 'Division', 'Line',
       'STATION', 'Borough', 'Daytime Routes', 'Structure', 'Lat', 'Lon',
       'North Direction Label', 'South Direction Label', 'ADA', 'ADA Notes'],
      dtype='object')

In [9]:
mta_station_names = list(mta_station_info.STATION.unique())
mta_station_names

['Astoria-Ditmars Blvd',
 'Astoria Blvd',
 '30 Av',
 'Broadway',
 '36 Av',
 '39 Av-Dutch Kills',
 'Lexington Av/59 St',
 '5 Av/59 St',
 '57 St-7 Av',
 '49 St',
 'Times Sq-42 St',
 '34 St-Herald Sq',
 '28 St',
 '23 St',
 '14 St-Union Sq',
 '8 St-NYU',
 'Prince St',
 'Canal St',
 'City Hall',
 'Cortlandt St',
 'Rector St',
 'Whitehall St-South Ferry',
 'Court St',
 'Jay St-MetroTech',
 'DeKalb Av',
 'Atlantic Av-Barclays Ctr',
 'Union St',
 '4 Av-9 St',
 'Prospect Av',
 '25 St',
 '36 St',
 '45 St',
 '53 St',
 '59 St',
 'Bay Ridge Av',
 '77 St',
 '86 St',
 'Bay Ridge-95 St',
 '7 Av',
 'Prospect Park',
 'Parkside Av',
 'Church Av',
 'Beverley Rd',
 'Cortelyou Rd',
 'Newkirk Plaza',
 'Avenue H',
 'Avenue J',
 'Avenue M',
 'Kings Hwy',
 'Avenue U',
 'Neck Rd',
 'Sheepshead Bay',
 'Brighton Beach',
 'Ocean Pkwy',
 'W 8 St-NY Aquarium',
 'Coney Island-Stillwell Av',
 '9 Av',
 'Fort Hamilton Pkwy',
 '50 St',
 '55 St',
 '62 St',
 '71 St',
 '79 St',
 '18 Av',
 '20 Av',
 'Bay Pkwy',
 '25 Av',
 'Bay 50 St',
 '8 Av',
 'New Utrecht Av',
 '121 St',
 '111 St',
 '104 St',
 'Woodhaven Blvd',
 '85 St-Forest Pkwy',
 '75 St-Elderts Ln',
 'Cypress Hills',
 'Crescent St',
 'Norwood Av',
 'Cleveland St',
 'Van Siclen Av',
 'Alabama Av',
 'Broadway Junction',
 'Chauncey St',
 'Halsey St',
 'Gates Av',
 'Kosciuszko St',
 'Myrtle Av',
 'Flushing Av',
 'Lorimer St',
 'Hewes St',
 'Marcy Av',
 'Delancey St-Essex St',
 'Bowery',
 'Chambers St',
 'Fulton St',
 'Broad St',
 'Middle Village-Metropolitan Av',
 'Fresh Pond Rd',
 'Forest Av',
 'Seneca Av',
 'Myrtle-Wyckoff Avs',
 'Knickerbocker Av',
 'Central Av',
 '6 Av',
 '14 St-Union Sq.',
 '3 Av',
 '1 Av',
 'Bedford Av',
 'Graham Av',
 'Grand St',
 'Montrose Av',
 'Morgan Av',
 'Jefferson St',
 'Wilson Av',
 'Bushwick Av-Aberdeen St',
 'Atlantic Av',
 'Sutter Av',
 'Livonia Av',
 'New Lots Av',
 'East 105 St',
 'Canarsie-Rockaway Pkwy',
 'Franklin Av',
 'Park Pl',
 'Botanic Garden',
 'Inwood-207 St',
 'Dyckman St',
 '190 St',
 '181 St',
 '175 St',
 '168 St',
 '163 St-Amsterdam Av',
 '155 St',
 '145 St',
 '135 St',
 '125 St',
 '116 St',
 'Cathedral Pkwy (110 St)',
 '103 St',
 '96 St',
 '81 St-Museum of Natural History',
 '72 St',
 '59 St-Columbus Circle',
 '42 St-Port Authority Bus Terminal',
 '34 St-Penn Station',
 '14 St',
 'W 4 St-Wash Sq',
 'Spring St',
 'World Trade Center',
 'High St',
 'Hoyt-Schermerhorn Sts',
 'Lafayette Av',
 'Clinton-Washington Avs',
 'Nostrand Av',
 'Kingston-Throop Avs',
 'Utica Av',
 'Ralph Av',
 'Rockaway Av',
 'Liberty Av',
 'Shepherd Av',
 'Euclid Av',
 'Grant Av',
 '80 St',
 '88 St',
 'Rockaway Blvd',
 'Ozone Park-Lefferts Blvd',
 'Aqueduct Racetrack',
 'Aqueduct-N Conduit Av',
 'Howard Beach-JFK Airport',
 'Broad Channel',
 'Beach 90 St',
 'Beach 98 St',
 'Beach 105 St',
 'Rockaway Park-Beach 116 St',
 'Beach 67 St',
 'Beach 60 St',
 'Beach 44 St',
 'Beach 36 St',
 'Beach 25 St',
 'Far Rockaway-Mott Av',
 'Norwood-205 St',
 'Bedford Park Blvd',
 'Kingsbridge Rd',
 'Fordham Rd',
 '182-183 Sts',
 'Tremont Av',
 '174-175 Sts',
 '170 St',
 '167 St',
 '161 St-Yankee Stadium',
 '21 St-Queensbridge',
 'Roosevelt Island',
 'Lexington Av/63 St',
 '57 St',
 '47-50 Sts-Rockefeller Ctr',
 '42 St-Bryant Pk',
 'Broadway-Lafayette St',
 '2 Av',
 'East Broadway',
 'York St',
 'Bergen St',
 'Carroll St',
 'Smith-9 Sts',
 '15 St-Prospect Park',
 'Ditmas Av',
 'Avenue I',
 'Avenue N',
 'Avenue P',
 'Avenue X',
 'Neptune Av',
 'Jamaica-179 St',
 '169 St',
 'Parsons Blvd',
 'Sutphin Blvd',
 'Briarwood',
 'Kew Gardens-Union Tpke',
 '75 Av',
 'Forest Hills-71 Av',
 '67 Av',
 '63 Dr-Rego Park',
 'Grand Av-Newtown',
 'Elmhurst Av',
 'Jackson Hts-Roosevelt Av',
 '65 St',
 'Northern Blvd',
 '46 St',
 'Steinway St',
 'Queens Plaza',
 'Court Sq-23 St',
 'Lexington Av/53 St',
 '5 Av/53 St',
 'Jamaica Center-Parsons/Archer',
 'Sutphin Blvd-Archer Av-JFK Airport',
 'Jamaica-Van Wyck',
 'Court Sq',
 '21 St',
 'Greenpoint Av',
 'Nassau Av',
 'Metropolitan Av',
 'Myrtle-Willoughby Avs',
 'Bedford-Nostrand Avs',
 'Classon Av',
 'Van Cortlandt Park-242 St',
 '238 St',
 '231 St',
 'Marble Hill-225 St',
 '215 St',
 '207 St',
 '191 St',
 '168 St-Washington Hts',
 '157 St',
 '137 St-City College',
 '116 St-Columbia University',
 '66 St-Lincoln Center',
 '18 St',
 'Christopher St-Sheridan Sq',
 'Houston St',
 'Franklin St',
 'WTC Cortlandt',
 'South Ferry',
 'Park Place',
 'Wall St',
 'Clark St',
 'Borough Hall',
 'Hoyt St',
 'Nevins St',
 'Grand Army Plaza',
 'Eastern Pkwy-Brooklyn Museum',
 'Franklin Avenue-Medgar Evers College',
 'Kingston Av',
 'Crown Hts-Utica Av',
 'Sutter Av-Rutland Rd',
 'Saratoga Av',
 'Junius St',
 'Pennsylvania Av',
 'President Street-Medgar Evers College',
 'Sterling St',
 'Winthrop St',
 'Beverly Rd',
 'Newkirk Av',
 'Flatbush Av-Brooklyn College',
 'Pelham Bay Park',
 'Buhre Av',
 'Middletown Rd',
 'Westchester Sq-E Tremont Av',
 'Zerega Av',
 'Castle Hill Av',
 'Parkchester',
 'St Lawrence Av',
 'Morrison Av-Soundview',
 'Elder Av',
 'Whitlock Av',
 'Hunts Point Av',
 'Longwood Av',
 'E 149 St',
 "E 143 St-St Mary's St",
 'Cypress Av',
 'Brook Av',
 '3 Av-138 St',
 'Woodlawn',
 'Mosholu Pkwy',
 'Bedford Park Blvd-Lehman College',
 '183 St',
 'Burnside Av',
 '176 St',
 'Mt Eden Av',
 '149 St-Grand Concourse',
 '138 St-Grand Concourse',
 '110 St',
 '68 St-Hunter College',
 '51 St',
 'Grand Central-42 St',
 '33 St',
 'Astor Pl',
 'Bleecker St',
 'Brooklyn Bridge-City Hall',
 'Bowling Green',
 'Wakefield-241 St',
 'Nereid Av',
 '233 St',
 '225 St',
 '219 St',
 'Gun Hill Rd',
 'Burke Av',
 'Allerton Av',
 'Pelham Pkwy',
 'Bronx Park East',
 'E 180 St',
 'West Farms Sq-E Tremont Av',
 '174 St',
 'Freeman St',
 'Simpson St',
 'Intervale Av',
 'Jackson Av',
 '3 Av-149 St',
 'Harlem-148 St',
 'Central Park North (110 St)',
 'Eastchester-Dyre Av',
 'Baychester Av',
 'Morris Park',
 'Flushing-Main St',
 'Mets-Willets Point',
 '103 St-Corona Plaza',
 'Junction Blvd',
 '90 St-Elmhurst Av',
 '82 St-Jackson Hts',
 '74 St-Broadway',
 '69 St',
 'Woodside-61 St',
 '52 St',
 '46 St-Bliss St',
 '40 St-Lowery St',
 '33 St-Rawson St',
 'Queensboro Plaza',
 'Hunters Point Av',
 'Vernon Blvd-Jackson Av',
 '5 Av',
 '34 St-Hudson Yards',
 'St George',
 'Tompkinsville',
 'Stapleton',
 'Clifton',
 'Grasmere',
 'Old Town',
 'Dongan Hills',
 'Jefferson Av',
 'Grant City',
 'New Dorp',
 'Oakwood Heights',
 'Bay Terrace',
 'Great Kills',
 'Eltingville',
 'Annadale',
 'Huguenot',
 "Prince's Bay",
 'Pleasant Plains',
 'Richmond Valley',
 'Tottenville',
 'Arthur Kill']

In [ ]:
import googlemaps

gmaps = googlemaps.Client(key='AIzaSyB7VjMRZtf7N8d_kZZhHJSzpkEJ3M8hPrA')

station_zips = {}

for station in mta_station_names:
    address = station + ' Station New York City, NY'
    geocode_result = gmaps.geocode(address)
    try:
        zipcode = geocode_result[0]['address_components'][6]['long_name']
        if len(zipcode) == 5:
            station_zips[station.upper()] = zipcode
            print(station_zips[station.upper()])
    except:
        continue

11105
11102
11106
11101
10065
10019
10106
10019
10018
10001
10001
10011
10003
10003
10012
10013
10013
10007
10006
11201
11201
11217
11215
11215
11215
10012
10022
11220
11209
10019
11226
11226
11226
11226
11226
11230
11230
11230
11229
11223
11229
11235
11235
11235
11224
11224
11219
10019
11219
11219
11228
10024
11230
11204
11214
11214
11214
11219
11418
11418
11418
11373
11421
11208
11106
11208
11208
11207
11207
11207
11237
11221
11221
11211
11211
11211
10002
10002
10007
10005
11381
11385
11385
11237
11237
11221
10011
10003
10003
11211
11211
11211
11237
11207
11207
11207
11207
11212
11207
10029
11236
10013
10007
10458
10034
10034
10033
10032
10032
10039
10031
10030
10035
10026
10025
10029
10024
10023
10001
10011
10012
10007
11201
11217
11238
11225
11213
11213
11233
11224
11207
11208
11208
11208
11417
11417
11417
11419
11417
11693
11693
11694
11694
11694
11692
11692
11691
11691
11691
10467
10468
10468
10453
10460
10453
10452
11101
10044
10065
10019
10020
10018
10003
10002
11201
11215
11218
11230
11230
11223
11223
11432
11432
11375
11375
11375
11374
11373
11372
11377
11377
11103
11101
11101
10022
10022
11435
11418
11101
11101
11222
11222
11381
11206
11205
11238
10471
10463
10463
10034
10034
10034
10032
10032
10031
10027
10023
10011
10014
10013
10006
10004
10007
10006
11201
11201
11217
11238
11225
11213
11213
11212
11212
11212
11207
11225
11225
11225
11226
10461
10461
10461
10461
10461
10462
10472
10472
10472
10472
10459
10474
10455
10454
10454
10454
10454
10467
10468
10453
10453

In [ ]:
station_zips

In [ ]:
type(station_zips)

In [ ]:
# get_daily_entries
tmp = get_tmp_entries(df)

In [ ]:
tmp[tmp['DATE'] == '09/14/2016'].sort_values("TMP_ENTRIES", ascending=False).head(10)

In [ ]:
daily = tmp.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE", 'DAY_NAME'], as_index=False).TMP_ENTRIES.sum()
daily.rename(columns={"TMP_ENTRIES": "DAILY_ENTRIES"}, inplace=True)
t = tmp.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE", 'DAY_NAME'], as_index=False).TMP_EXITS.sum()
# daily_entries.sort_values('DAILY_ENTRIES', ascending=False)
daily['DAILY_EXITS'] = t.TMP_EXITS
daily["DAILY_TRAFFIC"] = daily.DAILY_ENTRIES + daily.DAILY_EXITS
daily.head(10)

## Here we identified top 10 most trafficked stations based on DAILY_TRAFFIC

In [ ]:
t = (daily
     .groupby(["STATION"], as_index=False)
     .sum()
     .sort_values("DAILY_TRAFFIC", ascending=False))
t.shape

In [ ]:
temp = t.reset_index()

In [ ]:
station_zips_uppercase = []
for i in station_zips.values():
    station_zips_uppercase.append(i.upper())

In [ ]:
station_zips_uppercase

In [ ]:
t['zipcode'] = t['STATION'].map(station_zips)

In [ ]:
t

In [ ]:
t.set_index(['STATION'], inplace=True)
t.index

In [ ]:
mta_station_info['STATION'] = mta_station_info['STATION'].str.upper()
mta_station_info.set_index(['STATION'], inplace=True)
mta_station_info.index

In [ ]:
mta_station_info

In [ ]:
g = pd.merge(mta_station_info, t, on='STATION', how='right')
#mta_station_info is left table, t is on the right
#everything on the t table no matter what, regardless if it's in the mta_station_info
#mta.station_info.merge(t)
g

In [ ]:
g.index

In [ ]:
g['adj_gross_inc'] = g['zipcode'].map(nyc_adj_api)

In [ ]:
type(nyc_agi_by_zip)

In [ ]:
g.columns

In [ ]:
import seaborn as sns
fig, ax = plt.subplots();

plt.figure(figsize=(10,10));
#doesn't do anything? sns.color_palette("crest", as_cmap=True);
sns.scatterplot(x='Lat', y='Lon', hue='DAILY_TRAFFIC',s=10, size="DAILY_TRAFFIC", data=g, palette="ch:r=-.5,l=.75");
ax2 = plt.axes([1, 0.25, 0.5, 0.5], facecolor='#f5f5f5');
#sns.scatterplot(x='Lat', y='Lon', hue='DAILY_TRAFFIC', s=10, data=g, palette='ch:r=-.5,l=.75',
#               legend=False)
#ax2.margins(x=0.2, y=-0.32)

sns.distplot(g['DAILY_TRAFFIC'], ax=ax2);
#ax2.set_title('Traffic Distributions');
#ax2.set_xlim([0.9,1.])

In [ ]:
x = np.ndarray(range(0, 10))
len(x)
plt.bar(t["STATION"][:10], t["DAILY_TRAFFIC"][:10])
bottom = 5028700
top = 36624603.0
plt.ylim((bottom, top)) 
plt.xticks(rotation=45);

In [ ]:
import seaborn as sns
group_station = t.groupby('STATION')['DAILY_TRAFFIC'].sum().sort_values(ascending=False)
fig1 = plt.figure(figsize=[8,6])
ax1 = sns.distplot(group_station,bins=500,kde=False)
plt.xlim([0,1000000])
plt.ylabel('No. of Stations')
plt.xlabel('Traffic over the course of 2019')
plt.title('Distribution of Station Traffic',fontsize=15,weight='bold')
sns.despine()

In [ ]:
tt = (daily
     .groupby(['DAY_NAME'], as_index=False)
     .sum()
     .sort_values('DAILY_TRAFFIC', ascending=False))

In [ ]:
from pandas.api.types import CategoricalDtype

cat_day_of_week = CategoricalDtype(
    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], 
    ordered=True
)

tt['DAY_NAME'] = tt['DAY_NAME'].astype(cat_day_of_week)

tt.sort_values(['DAY_NAME'])

### Analysis of top 10 via heatmap

In [ ]:
t.head(10)

In [ ]:
#df_10 = df[df['STATION'].isin(list(group_station.head(10).index))]
#df_10['WEEKDAY'] = df_10['DATE'].dt.day_name()
#group_station_day = df_10.groupby(['STATION','WEEKDAY'])['ENTRY_EXIT'].sum()