In [15]:
#Use beautiful soup to retrive all MTA files from website (web scrape) just for 2020-01-01 to most recent

import re
import requests
import urllib.request
from datetime import datetime
from bs4 import BeautifulSoup
import pandas as pd
from io import StringIO


url = 'http://web.mta.info/developers/turnstile.html'

#https://blog.proxypage.io/web-scrape-using-python-in-less-than-5-minutes-2/
#https://hackersandslackers.com/scraping-urls-with-beautifulsoup/
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

#print(soup.prettify()) you can see 'soup' is our entire html page

URL_PREFACE = 'http://web.mta.info/developers/'
a = soup.find_all('a')
o = ()
for i in range(37, len(a)):
    ins = (a[i].get_text(), URL_PREFACE + a[i]['href'],)
    o = o + (ins,)

col = ['C/A','UNIT','SCP','STATION','LINENAME','DIVISION','DATE','TIME','DESC','ENTRIES','EXITS']

data = pd.DataFrame()
for a, b in o: 
    d = a[-4:] 
    if d.find('2020') !=-1:
        df = pd.read_csv(b, parse_dates=[7])
        data = pd.concat([data, df])

data.count
data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2020,2021-01-05 03:00:00,REGULAR,7505644,2556326
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2020,2021-01-05 07:00:00,REGULAR,7505647,2556330
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2020,2021-01-05 11:00:00,REGULAR,7505683,2556378
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2020,2021-01-05 15:00:00,REGULAR,7505774,2556423
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/19/2020,2021-01-05 19:00:00,REGULAR,7505939,2556447

In [16]:
data.shape

(10820238, 11)